/* General Page Setup */
body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    background: #e28282;
}

/* Navigation Bar */
nav {
    background: #f6f5f5;
    color: #7da9e3;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 22px;
    font-weight: bold;
}

nav a {
    color: #e28282(237, 244, 158);
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}

nav a:hover {
    color: #00eaff;
}

/* Home Page */
.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 40px;
}

.hero p {
    font-size: 18px;
}

/* About Page */
.about-container {
    width: 70%;
    margin: 40px auto;
    padding: 40px;
    background: #e28282(255, 255, 255);
    display: flex;
    gap: 30px;
    border-radius: 10px;
}

.about-container img {
    width: 220px;
    border-radius: 10px;
}

/* Skills Page */
.skills-container {
    display: flex;
    gap: 20px;
    padding: 40px;
    justify-content: center;
}

.skill-card {
    background: #f7f7f7;
    border: 2px solid #7da9e3;
    padding: 20px;
    width: 230px;
    border-radius: 10px;
    text-align: center;
}

/* Contact Page */
form {
    width: 50%;
    margin: 40px auto;
    background: #ff000087;
    padding: 30px;
    border-radius: 10px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background: #222;
    color: #fff;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

form button:hover {
    background: #00bcd4;
}